@import "/src/styles.scss";

.cart{
    $self: &;   

    &--wrapper{
        position: fixed;
        top: 0; 
        background: $base-color;
        height: 100vh;
        color: $white;
        width: $cart-width;
        right: 0;
        transform: translateX($cart-width + 5);
        @include transition(all 0.4s ease);
        padding: 2.5rem;

        &.opened{
            right: 0;
            transform: translateX(0);
        }
    }
}

 