
<div class="cart--wrapper" [ngClass]="{'opened': cartData.openCart}"> 
    <div class="cart--header">
        <p>Cart ({{cartData.cartItems}} items)</p>
        <a href="javascript:void(0)" class="close-btn" (click)="closeCart()">
            <img src="/assets/images/svg/close.svg" alt="">
        </a>  
    </div>
    <div class="cart--body">
         
        <ul class="cart--list">
            <li class="cart--list-item">
                <div class="cart--list-item-image">

                </div>
                <ul class="cart--list-item-description"> 
                    <li class="cart--list-item-title">Handmade Stainless Steel Massive Wolf Chain with Odin’s Protection Charm - 50cm / 20in</li>
                    <li class="cart--list-item-price">
                        <span class="price">$19.95</span>
                        <span class="discounted-price">$29.95</span>
                    </li>
                    <li class="cart--list-item-qty">
                        <ul class="product--count">
                            <li> - </li>
                            <li class="item-qty"><input type="number" value="1" class="form-control qty"></li>
                            <li> + </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul> 
    </div>

    <div class="cart--footer">
        <div class="cart--footer-inner">
            <div class="sub-total">
                <p>Subtotal</p>
                <span class="total">$144.95</span>
            </div>
            <div class="cart-btn">
                <button class="btn view-cart">View cart</button>
                <button class="btn add-to-cart">Proceed to checkout</button>
            </div>
        </div> 
    </div> 

</div>

 