
<div class="cart--wrapper" [ngClass]="{'opened': cartData.openCart}"> 
    <div class="cart--header">
        <p>Cart ({{cartData.cartItems}} items)</p>
        <a href="javascript:void(0)" class="close-btn" (click)="closeCart()">
            <img src="/assets/images/svg/close.svg" alt="">
        </a>  
    </div>
    <div class="cart--body"> 
        <ul class="cart--list" *ngIf="cartData.data.length > 0">
            <li class="cart--list-item" *ngFor="let cart of cartData.data; let i = index">
                <div class="cart--list-item-image" [ngStyle]="{'background-image': 'url('+cart.image+')'}"></div>
                <ul class="cart--list-item-description"> 
                    <li class="cart--list-item-title">{{ cart.name }}</li>
                    <li class="cart--list-item-price">
                        <span class="price">{{ cart.discount_price | currency}}</span>
                        <span class="discounted-price">{{ cart.price | currency}}</span>
                    </li>
                    <li class="cart--list-item-qty">
                        <ul class="product--count">
                            <li (click)="removeItem(i)"> - </li>
                            <li class="item-qty"><input type="number" [(ngModel)]="cart.quantity" (ngModelChange)="onChange($event, i )" class="form-control qty"></li>
                            <li (click)="addItem(i)"> + </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul> 
    </div>

    <div class="cart--footer">
        <div class="cart--footer-inner">
            <div class="sub-total">
                <p>Subtotal</p>
                <span class="total">{{ getSubTotal(cartData.data) | currency}}</span>
            </div>
            <div class="cart-btn">
                <button class="btn view-cart">View cart</button>
                <button class="btn add-to-cart">Proceed to checkout</button>
            </div>
        </div> 
    </div> 

</div>

 