<div class="page" [ngClass]="{'opened': cartData.openCart}"> 
    <app-header (cartDataOnclick)="getCartData($event)" [event]="cartData"></app-header> 
    <div class="product container-fluid">
        <div class="product--page-centered product container">
            <div class="product--grid grid">
                <div class="product--images">
                    <div class="product--images-inner">
                        <div class="product--featured-image">
                            <div class="prev next-img"></div>
                            <img src="/assets/images/featured-01.jpg" alt="">
                            <div class="next next-img"></div>
                        </div>
                        <div class="product--other-images-wrapper">
                            <a class="prev next-img" href="javascript:void(0)"></a>
                            <ul class="product--other-images"> 
                                <li><a href="javascript:void(0)"><img src="/assets/images/01.png" alt=""></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/02.png" alt=""></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/03.png" alt=""></a></li>
                            </ul>
                            <a class="next next-img" href="javascript:void(0)"></a>
                        </div>
                    
                    </div> 
                </div>
                <div class="product--details">
                    <div class="product--details-inner">
                        <div class="product--title">
                            <h2>Handmade Stainless Steel Kings Chain Viking Geri And Freki Mjolnir Necklace</h2>
                        </div> 
                        
                        <div class="product--cart">
                            <div class="product--length">
                                <p>Choose your length</p>
                                <select class="product--select-option form-select">
                                    <option selected>60 CM (24 INCHES)</option>  
                                </select>
                            </div>
                            <div class="product--price-tag">
                                <span class="price"> {{getPrice() | currency}} </span>
                                <span class="tax">Tax included</span>
                            </div> 
                            <div class="product--add-to-cart">
                                <ul class="product--count">
                                    <li (click)="removeItem()"> - </li>
                                    <li class="item-qty"><input type="number" [(ngModel)]="product.quantity" (ngModelChange)="onChange($event)" class="form-control qty"></li>
                                    <li (click)="addItem()"> + </li>
                                </ul>
                                <button class="btn add-to-cart" (click)="addToCart()">Add To Cart</button>
                            </div> 
                        </div>
                        <div class="product--description">
                            <p><strong>Handmade Chain Geri and Freki Viking Necklace with Thor Hammer Mjolnir!</strong></p>
                            <p>The Kings chain was worn by Viking kings as a status symbol as the name applies. This is a 100% handmade Stainless Steel Chain. The crafting is a very time consuming process to put together the chain link by link.</p>
                            <p>The hand made chain connects together with a lobster clamp.</p>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
    </div> 
</div>
<app-cart [cartData]="cartData"></app-cart>